<div class="bg-white">
<h1 class=""><%= @post.title %></h1>
<div class="w-full h-80 mt-8 bg-cover bg-center mb-3" style={"background-image: url('#{@post.photo}')"}></div>
<div class="article">
<%= raw @post.body %>
</div>
</div>